// Dir
src/**/[Ll]ibrary/
src/**/[Tt]emp/
src/**/[Oo]bj/
src/**/[Bb]uild/
src/**/[Bb]uilds/
src/**/[Ll]ogs/
src/**/[Ss]erializedBuildInfo/
src/**/[Mm]emoryCaptures/
src/**/[Aa]ssets/AssetStoreTools*
src/**/[Aa]ssets/Plugins/Editor/JetBrains*

src/**/Assets/[Ee]xternal[Aa]ssets/[Ee]ditorOnly/

src/**/.gradle/
src/**/ExportedObj/
src/**/.consulo/
src/**/.consulo/
src/**/crashlytics-build.properties
src/**/sysinfo.txt

// Singular
*.csproj
*.idea
*.vs
*.vscode
*.vsconfig
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.dwlt
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
*.unitypackage
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db